.leaflet-bottom, .leaflet-top {
    position: absolute;
    z-index: 80;
    pointer-events: none;
}

.leaflet-control-container .leaflet-top {
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.mapbox-map .t-Region-bodyWrap {
    height: inherit;
}

.t-Region--scrollBody>.t-Region-bodyWrap>.t-Region-body.mapbox-map.leaflet-container {
    overflow: hidden;
}

.t-Region.is-maximized>.t-Region-bodyWrap>.t-Region-body.mapbox-map.max-width{
    width: 100%!important;
    height: 100%!important;
    overflow: hidden !important;
}
